.containerCardFriendRequest {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 5px 0;
  height: auto;
  overflow: hidden;
}

.containerImage > img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.containerDataFriend {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dataRequestFriend {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dataRequestFriend > .nameRequestFriend {
  color: #e4e6eb;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 600;
  text-wrap: wrap;
}
.dataRequestFriend > .fechaSolicitud-friend {
  color: #b3b5ba;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  min-width: 45px;
}

.containerButtons {
  display: flex;
  gap: 8px;
  color: #e4e6eb;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Roboto';
}
.containerButtons > .buttonFriend {
  width: 100%;
  padding: 8px 0;
  border-style: none;
  border-radius: 4px;
  color: #e4e6eb;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Roboto';
  cursor: pointer;
}
.containerButtons > .buttonFriend-confirm {
  background: #0866ff;
}
.containerButtons >.buttonFriend-confirm2{
    background-color: #3A3B3C;
}
.containerButtons > .buttonFriend-confirm:active{
  background: #1f74fc;
}
.containerButtons>.buttonFriend-confirm2:active{
    background-color: #3f4040;

}
