:root {
  --orange: #ff6600;
  --light-orange: #ff983f;
  --pale-yellow: #ffffa1;
  --light-gray: #f5f5f5;
  --gray: #929292;
  --dark-gray: #1d1f21;
  --darker-gray: #2c2e30;
  --charcoal: #444648;
  --lighter-gray: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_Nav_Search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container_Nav_Search-div {
    width: 100%;
    height: 45px;
    max-width: 700px;
    border-radius: 20px;
    background-color: var(--pale-yellow);
    display: flex;
    align-items: center;
    z-index: 100;
}

.container-MenuHamburguer-nav {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 5px 0 20px;
}

.MenuHamburguer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.MenuHamburguer > .MenuBar {
  width: 100%;
  height: 4px;
  margin: 2px 0;
  background-color: var(--charcoal);
  border-radius: 2px;
}

.container-input-Search{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.container-input-Search > .inputSearch {
    width: 100%;
    height: 30px;
    border-style: none;
    background-color: var(--pale-yellow);
    font-size: 1.25em;
    font-family: 'Indie Flower';
}

.container-input-Search > .inputSearch:focus{
    outline: none;
}

.container-nav-menu{
    width: 0;
    height: 100vh;
    position: fixed;
    background-color: #2c2e30b3;
    top: 0;
    left: 0;
    transition: all .3s;
}
.nav-Menu{
    width: 0;
    max-width: 300px;
    height: 100vh;
    min-height: 600px;
    color: var(--pale-yellow);
    overflow: hidden;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
}

.container-nav-menu-Active{
    background-color: #2c2e30b3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.nav-Menu-active{
    width: 80%;
    height: 100vh;
    background-color: var(--dark-gray);
    transition: all .3s;
}


.nav-menu-titleUser{
    width: 100%;
    max-height: 150px;
    font-size: 1.8rem;
    font-family: 'Indie Flower';
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 10px;
}


.detailsProfile > summary{
    list-style: none;
    cursor: pointer;
    background-color: var(--darker-gray);
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: 'Indie Flower';
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detailsProfile > summary::after{
    content: url('/rowDown.svg');
}

.detailsProfile[open]> summary::after{
    content: url('/rowUp.svg');
}
.detailsProfile > .details { 
    background-color: var(--charcoal);
    padding:15px;
    font-family: 'Indie Flower';
    color: var(--light-orange);
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    cursor: pointer;
    
}
.detailsProfile > .details > .LinkPage {
    background-color: var(--charcoal);
    font-family: 'Indie Flower';
    color: var(--light-orange);
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;    
}


.detailsContact > summary{
    list-style: none;
    cursor: pointer;
    background-color: var(--darker-gray);
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: 'Indie Flower';
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detailsContact > summary::after{
    content: url('/rowDown.svg');
}

.detailsContact[open]> summary::after{
    content: url('/rowUp.svg');
}
.detailsContact > .details > a { 
    background-color: var(--charcoal);
    padding: 15px;
    font-family: 'Indie Flower';
    color: var(--light-orange);
    display: flex;
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
}


.buttonCloseNavMenu{
    position: absolute;
    bottom: 80px;
    right: 40px;
    cursor: pointer;
    z-index: 100;
}